.overlay {
    float: right;
}

.overlay span {
    cursor: pointer;
    display: none;
    font-size: 1rem;
    float: right;
    padding: 0 5px;
}

.overlay__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 10px;
    display: none;
}

.overlay__modal--visible {
    display: block;
}
