#root {
    height: 100%;
}

.app {
    background: rgba(100, 100, 100, 0.9);
    color: #fff;
    max-width: 500px;
    margin: 10px auto;
    height: auto;
}

.app h1, .app h1:first-child {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}