.countdown {
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.countdown__icons {
    display: none;
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
}

.countdown:hover .countdown__icons,
.countdown:hover .overlay span {
    display: block;
}
