.edit-event {
  background: rgba(243,134,48, 0.9);
  padding: 20px;
}

.edit-event__form {
  display: none;
}

.edit-event__add-new-btn {
  display: block;
  text-align: center;
}

.edit-event__add-new-btn--invisible {
  display: none;
}

.edit-event__add-new-btn i {
  cursor: pointer;
}

.edit-event__form--visible {
  display: block;
}

.edit-event__input-group {
  color: #fff;
  margin-bottom: 10px;
}

.edit-event__input-group label {
  display: inline-block;
  width: 20%;
}

.edit-event__input-group input {
  border: 0;
  padding: 5px;
  width: 70%;
}

.edit-event button {
  background: transparent;
  border: solid 3px #fff;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.edit-event button:disabled {
  opacity: 0.4;
}